<div id="television-screen">

  <div id="logos">
    <span class="vox-logo logo">
    </span>
    <span class="voxmedia-logo logo">
    </span>
  </div>

  <div class=story-boxes>
    <div class="story-box">
    </div>
    <div class="story-box">
    </div>
    <div class="story-box">
    </div>
    <div class="story-box">
    </div>
  </div>
  
</div>
