#television-screen
  #lockup-wrapper
    #curly-brackets
      .left-curly
      .right-curly
    #logos
      %span.recode-logo.logo
      %span.voxmedia-logo.logo
  .headlines
  .headline

=link_to 'replay', recode_path, :class => "replay"
