// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background:asset-url('map-85broad.jpg');
  background-size: cover;
}
#television-screen {
  &:before {
    content:"";
    display: block;
    position: absolute;
    top: 10px;
    left:10px;
    width:400px;
    height:757px;
  }
  width:420px;
  height:777px;
  border:24px solid black;
  position:absolute;
  top:60px;
  left:420px;
}
body.static_pages-poster {
  #lockup-wrapper {
    position:relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation:slideDownLogos 1.5s 3s forwards,
              slideUpLogos 1.5s 7s forwards;
    will-change:margin;
  }
  .headlines {
    position:absolute;
    width: 100%;
    height: 410px;
    top: 520px;
    left: 0;
    animation:fadeIn 2s 7.5s forwards,
              slideUp-headlines 1s 7.5s forwards;
    opacity:0;
    background:asset-url('headlines-1.png') no-repeat 50% 50%;
    background-size: contain;
  }
  .headline {
    position:absolute;
    width: 100%;
    height: 193px;
    top: 190px;
    left: 0;
    animation:fadeIn 2s 3s forwards,
              fadeOut .5s 6.95s forwards;
    opacity:0;
    background:asset-url('headline-1.png') no-repeat 50% 50%;
    background-size: contain;
  }
  #logos {
    width:100%;
    position:absolute;
    top:300px;
    opacity:0;
    animation:fadeIn 1.5s 2.13s forwards;
    .logo {
      width: 35%;
      margin-left: 32.5%;
      margin-right: 32.5%;
      &.voxmedia-logo {
        background:asset-url('voxmedia-logo.png') no-repeat 50% 50%;
        background-size: contain;

        height: 36px;
        margin-top:60px;
        position: absolute;
        top: 0%;
        animation: slideUp-negSixty .5s 7s forwards;
      }
      &.recode-logo {
        height:60px;
        background:asset-url('recode-logo.png') no-repeat 50% 50%;
        background-size: contain;
        position: absolute;
        top: 0;
        opacity:1;
        animation: slideDown-Sixty .5s 7s forwards;
      }
    }
  }
  #curly-brackets {
    position:absolute;
    width:100%;
    height:133px;
    text-align:center;
    top: 50%;
    margin-top: -88px;
    opacity:0;
    animation:fadeIn 2s 1.5s forwards,
              fadeOut 1s 3.7s forwards;
    > div {
      display:inline-block;
    }
    .left-curly {
      height:113px;
      width: 45px;
      background:asset-url('caret-left.png') no-repeat 50% 50%;
      background-size: contain;
    }
    .right-curly {
      height:113px;
      width: 45px;
      background:asset-url('caret-right.png') no-repeat 50% 50%;
      background-size: contain;
      animation:leftMargin 1.5s 1.75s forwards;
    }
  }

  #television-screen {
    &:before {
      opacity:0;
      background:rgba(238,44,36,.9);
      animation:fadeIn 2s 1s forwards;
    }
  }
}
body.static_pages-index {
  #television-screen {
    &:before {
      background:rgba(0,0,0,.95);
      animation:fadeOut 2s 1s forwards;
    }
  }
  .story-boxes {
    position:absolute;
    bottom:15px;
    width:100%;
    display:none;
  }
  .story-box {
    width: 95%;
    height: 100px;
    margin: 0 2.5% 2.5% 2.5%;
    background:rgba(255,255,255,.7);
    box-shadow: 0px 0px 20px 0px rgba(138,138,138,.35);
  }

  #logos {
    width:100%;
    position:absolute;
    top:20px;
  }
  .logo {
    width:90%;
    height:110px;
    margin:0 5% 2.5% 5%;
    display:block;
    opacity:.7;
    position:relative;
    &.voxmedia-logo {
      background:asset-url('voxmedia-logo.png') no-repeat 50% 50%;
      background-size: contain;
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
      height: 36px;
      margin-top:0;
      position: absolute;
      top: 0;
  //    animation: slideUp-negSixty 1s 3s forwards;
    }
    &.vox-logo {
      background:asset-url('vox-logo.png') no-repeat 50% 50%;
      background-size: contain;
      position: absolute;
      top: 0;
      opacity:1;
      margin-top:110px;
  //    animation:
  //      fadeIn 2s 3s forwards,
  //      slideUp-negTwenty 2s 3s forwards;
    }
  }

  @keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
  }
  @keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes slideDownLogos {
    0%   { margin-top:0; }
    100% { margin-top:220px; }
  }
  @keyframes slideUpLogos {
    0%   { margin-top:220px; }
    100% { margin-top:-175px; }
  }
  @keyframes slideUp-headlines {
    0%   { top:520px; }
    100% { top:310px; }
  }
  @keyframes slideUp-negSixty {
    0%   { margin-top:60px; }
    100% { margin-top:0; }
  }
  @keyframes slideDown-Sixty {
    0%   { margin-top:0px; }
    100% { margin-top:30px; }
  }
  @keyframes slideUp-negTwenty {
    0%   { top:0; }
    100% { top:-60px; }
  }
  @keyframes leftMargin {
    0%   { margin-left:0; }
    100% { margin-left:225px; }
  }
}
